# Lab 3 — Introduction to Data Wrangling and Exploratory Data Analysis

# Lab Instructions and Learning Objectives

Don't delete any of the cells in this notebook, and add markdown/code cells when asked.

In this lab you will:

  - Understand and implement crosstabulation in `pandas`.

# How to submit

1. Log in here: https://markus-ds.teach.cs.toronto.edu (Tip: Control/Command-click to open it in a new tab so you can still see these instructions.)
2. Choose \<course code>

3. Click the lab3: Lab week 3 assessment.

4. Click the `Submissions` tab. The new page is `lab3: Submissions`.

5. Click button `Upload File` on the bottom right.

6. Click button `Choose Files`.

7. Select the `Lab_3.ipynb` file that you downloaded in the previous task, then click `Save`.

# Due Date

You will submit your completed labs as Notebook files on MarkUs. We have heard feedback that the time pressure to submit the lab is stressful, so we are changing the lab deadlines on MarkUs to Fridays at 10am.

# Marking Rubric

1 mark for having all the right variable names, plus 1 mark per correct variable type and value.

# Data science recipes

We have written up [a few data science recipes](https://jupyter.utoronto.ca/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2FUofTCompDSci%2Frecipes&branch=main&urlpath=tree%2Frecipes%2Fdata_science_recipes.ipynb) in a Jupyter notebook. You'll find these:

+ Read a CSV file
+ Calculate a statistic about a single column
+ Subset a DataFrame by extracting columns
+ Rename the columns in a DataFrame
+ Subset a DataFrame by filtering rows that have a particular property

## Lab 3 Introduction

In this lab, you will continue to work with data from week 3 class: Statistics Canada General Social Survey's (GSS) Time Use (TU) Survery Main File. You will continue to work with boolean conditions, you will work with multiple conditions, you will rename variables, and add new columns to your existing data frame.

As usual, these labs are meant to facilitate your understanding of the material from lectures in a low-stakes environment. Please feel free to refer to your lecture content, collaborate with your peers, and seek out help from your TAs.

### Data Description

The data in this lab has been reduced from the size of the original GSS data set. The subset contains several variables pertaining to demographic characteristics, such as age group, sex, and urban status. It also contains several variables that indirectly examine factors that may influence stress levels among Canadians, such as number of young children, feeling rushed, and sleep duration.

In [1]:
import pandas as pd
time_data = pd.read_csv('time_data.csv')
time_data.head()

,Unnamed: 0,Participant ID,Urban/Rural,Age Group,Marital Status,sex,Kids under 14,Feeling Rushed,Sleep duration
0,0,10000,1,5,5,1,0,1,510
1,1,10001,1,5,1,1,0,3,420
2,2,10002,1,4,1,2,3,1,570
3,3,10003,1,6,5,2,0,2,510
4,4,10004,1,2,6,1,0,1,525

## Question 1

We'll start by classifying participants into three groups based on how many childrent they have. The three groups are those with 0 children, those with 1 children, and those with 2 or more children.

Write code to extract the `'Kids under 14'` column and name it `kids_under_14`. (What type is it?)

Now create 3 Boolean `Series` based on `kids_under_14`:
+ One named `no_kid` that contains `True` only for participants who have no kids and `False` otherwise
+ One named `one_kid` that contains `True` only for participants with exactly 1 child
+ One named `twoplus_kid` that contains `True` only for participants with 2 or more children.

How many residents have 2 or more kids? Display that value by calling function `value_counts` using `twoplus_kid`.

Refer to the lecture notes for how we created similar data, and also check out [the Data Science Recipes notebook](https://jupyter.utoronto.ca/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2FUofTCompDSci%2Frecipes&branch=main&urlpath=tree%2Frecipes%2Fdata_science_recipes.ipynb).

In [2]:
# place your answer in this cell

## Question 2

Now that we have your three categories, we can add a new column that has value `0` if the participant has `0` kids, `1` if they have `1`, and `2` if they have two or more. Those are our three groups.

Below, we make a copy of your `DataFrame` and name it `time_analysis`. It's good practice to do this before starting to add columns and otherwise modify the data.

Now write 3 assignment statements to add a column to the `time_analysis` `DataFrame`called `'FewKids'`. You'll need to use `.loc`. Use variables `no_kid`, `one_kid`, and `twoplus_kid` as indexes, one per assignment statement.

In [3]:
# place your answer in this cell
time_analysis = time_data.copy()

##  Question 3

Extract the `Maritial Status` column and name it `marital_status`. There are 6 values: 1 is married, 2 is common law, 3 is widowed, 4 is separated, 5 is divorced, and 6 is single.

Create a Boolean `Series` named `M_CL_Y` that is `True` when a participant is either married or common law and `False` otherwise.

Create a Boolean `Series` named `M_CL_N` that is `True` when a participant is _not_ married or common law — that means widowed, separated, divorced, or single.

Hint: You may find it easiest to create 6 Boolean `Series`, one for each number, and then use `|` to combine them when you assign to `M_CL_Y` and `M_CL_N`.

Add a new column called `'married_or_CL_YN'` to the `DataFrame` using these two `Series`. The values in the column will be either `True` or `False`.

In [4]:
# place your answer in this cell

Here is what you hopefully see:

![time_analysis.head()](time_analysis_1.png)

## Question 4

Create a Boolean variable called `young_unmarried` for residents that are between the ages of 25 to 44 that are neither married nor common law.

To do so, we will define "young" to be those between the ages that ages of 25 to 44. That's age groups 2 and 3.

You'll need to extract the `'Age Group'` column as a `Series`, then create a Boolean `Series` for the 2's, then another for the 3's, then combine them using `|` to get a _third_ Boolean `Series` that you should name `young`.

Then do the same for your new column, `'married_or_CL_YN'`. You'll need to extract the column as a `Series`, then create a Boolean `Series` from that new column based on whether the value is `False`. (Yikes!)

Finally, you can combine `young` and `unmarried` using `&` to get a new Boolean `Series`, and you should name it `young_unmarried`.

Be sure to examine the to make sure you have what you want! In `young_unmarried`, the value should be `True` if `young` is `True` *and* `married_or_CL_YN` is `False`.

In [5]:
# place your answer in this cell

# To get you started, here is the 'Age Group' column as a Series.
age_group = time_analysis['Age Group']

## Question 5

Use the `young_unmarried` Boolean `Series` in question 3 to subset the `time_analysis` `DataFrame` to select rows where the residents are between the ages of 25 to 44, and unmarried. Name this new `DataFrame` `time_young_unmarried`.

In [6]:
# place your answer in this cell

## Question 6

Time to investigate how many of them have 2 or more children.

These two Boolean `Series` were created earlier:

+ `young_unmarried`: `True` for residents that are between the ages of 25 to 44 that are neither married nor common law. Extracted from the `time_analysis` `DataFrame`.

+ `twoplus_kid`: `True` for residents who have two or more children.

Combine them with `&` and name the resulting Boolean `Series` `young_many_kids`.

This code tells you how many True and False values there are: `young_many_kids.value_counts()`. (Our code counted 182 `True`s.)

In [7]:
# place your answer in this cell

## Question 7

Remember back in Question 2 you created a new column, `'FewKids'`? Let's use it to find rows 
Extract that column as a `Series` and name it `few_kids`. Now compare `few_kids` to `2` using `==` to get a Boolean `Series`, and name it `few_kids_2`.

You should use `few_kids_2` as an index into `time_analysis` to subset the rows for participants who have 2 or more children.

Refer back to the `time_analysis` `DataFrame` from question 3. Create a crosstab for `married_or_CL_YN` and `FewKids`. Name it `married_and_kids`.

What proportion of married people report having two or more children? You should be able to access that value like this: `married_and_kids.iloc[1, 1]`. Name that value `married_and_kids_proportion`.

In [8]:
# place you answer in this cell

# Check that you've used the correct variable names

In [9]:
# This will run without error once the 7 questions are answered correctly.

# Q1
print('no_kid:')
print(no_kid.head())
print('one_kid:')
print(one_kid.head())
print('twoplus_kid:')
print(twoplus_kid.head())

no_kid:

NameError: name 'no_kid' is not defined

In [10]:
# Q2
print('time_analysis:')
print(time_analysis.head())

time_analysis:
   Unnamed: 0  Participant ID  Urban/Rural  Age Group  Marital Status  sex  \
0           0           10000            1          5               5    1
1           1           10001            1          5               1    1
2           2           10002            1          4               1    2
3           3           10003            1          6               5    2
4           4           10004            1          2               6    1

   Kids under 14  Feeling Rushed  Sleep duration
0              0               1             510
1              0               3             420
2              3               1             570
3              0               2             510
4              0               1             525

In [11]:
# Q3
print('marital_status:')
print(marital_status.head())
print('M_CL_Y:')
print(M_CL_Y.head())
print('M_CL_N:')
print(M_CL_N.head())

marital_status:

NameError: name 'marital_status' is not defined

In [12]:
# Q4
print('young:')
print(young.head())
print('young_unmarried:')
print(young_unmarried.head())

young:

NameError: name 'young' is not defined

In [13]:
# Q5
print('time_young_unmarried:')
print(time_young_unmarried.head())

time_young_unmarried:

NameError: name 'time_young_unmarried' is not defined

In [14]:
# Q6
print('married_and_kids:')
print(married_and_kids)

married_and_kids:

NameError: name 'young_and_manykids' is not defined

In [15]:
# Q7
print('few_kids:')
print(few_kids)
print('married_and_kids_proportion:')
print(married_and_kids_proportion)

few_kids:

NameError: name 'few_kids' is not defined